body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}


.heading {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.images {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
}

.rockImg, .paperImg, .scissorsImg {
    padding-left: 100px
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: red;
    padding: 50px;
}

.picks, .result {
    text-align: center;

}

.result {
    padding: 50px;
}

.gameOver {
    text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    padding: 50px;
}






