body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}


.heading {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: red;
    padding: 100px;
}

.picks, .result {
    text-align: center;

}

.result {
    padding: 100px;
}

.gameOver {
    text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    padding: 100px;
}






